body{
    background-color: black;
}

img{
    width: 30%;
    border: 5px solid white;
    margin-left: 35%;
}

div{
    width: 75%;
    margin-left: 15%;
    margin-top: 30px;
}

.text{
    color: white;    
    text-align: center;
}

h1{    
    text-transform: uppercase;    
    font-family: "Libre Baskerville", serif;
}

